  <!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Totalpoints</title>

    <link href="lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="lib/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="lib/css/animate.css" rel="stylesheet">
    <link href="lib/css/style.css" rel="stylesheet">
	<script type="text/javascript" src="lib/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">

	<style>

            .swal-wide{
                width:850px !important;
            }	
	    
	</style>
</head>

<body>
<div class="row">

   <div class="col-lg-12">
      <div class="ibox ">
          <div class="ibox-title">

		  <h1 style="text-align: center;">NUST ADMISSION POINTS CALCULATOR</h1>
   
					<form class="m-t" role="form" action="" method="post">
                     <h3>Personal Information </h3>   
					<div class="form-group">
					
                    <input type="text" class="form-control" placeholder="Your First Name" required="" name='fname' id='fname'>
                </div>		   
							   
				<div class="form-group">
					<select name="title" id="title" class="form-control" required="">
						<option value="Mr.">Male</option>
						<option value="Ms.">Female</option>
						
					</select>
				</div>
				<div id="adding">
				 <input type="hidden" class="form-control"  required="" name='fname' id='points'>
					<div class='table-responsive'> 
							   
							<h4 style="color:black">Please enter your  top 6 subjects </h4>
							<table class='table table-no-border'> 
							 <tbody> 
							  <tr><th>Subject Name <span class='required'>*</span></th><td><select class='form-control' id='subjectname'><option>Select subject</option></select></td></tr> 
							  <tr><th>Subject Level<span class='required'>*</span></th><td><select class='form-control' id='level'><option value=''>Select Level</option><option value='Higher'>Higher</option><option value='Ordinary'>Ordinary</option></select></td></tr>
							  <tr id="symbols"><th>Symbol<span class='required'>*</span></th><td><select class='form-control' id='symbol'><option>Select Symbol</option></select></td></tr> 
                              
                              </tbody> 
							</table>
								</table>
								</div> 
								
			
				
									<div class="modal-footer">
										<input type="submit" name="qualsubinfo" id="" class="btn btn-info" onclick="sendQualSub()" value="Add Qualification Subject" />
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
							</div>
							    <div  style= "display:block" id= "" >
                    <h3 style="color:orange">Subject Information </h3>
                   
            <div class="table-responsive" id="Points">
            
                    <table class="table table-striped" id="subjectInfo" >
                         <thead>
                           <tr style="background-color: #FF8000; color: white;">
                           <th>Subject  <span class='required'></span></th>
                           <th>Level<span class='required'></span></th>
                           <th>Symbol<span class='required'></span></th>
                           <th>Points<span class='required'></span></th>

                           
                            </tr>
                                 <!-- do not remove thead pleeeeeeeeeeeeeeeeeeeeeeease -->
                            </thead>
                         <tbody >
                         
                        <!-- do not remove tbody pleeeeeeeeeeeeeeeeeeeeeeease -->
                        </tbody>
                  </table>
             </div>
            <h4>Select Your Preffered Field Of Study</h4>
			 <div class="form-group">
					<select name="title" id="Field_Of_Study_1" class="form-control" required="">
					<option value="">Select Field Of Study 1</option>
						<option value="Management Sciences">Management Sciences</option>
						<option value="Human Sciences">Human Sciences</option>
						<option value="Computing and Informatics">Computing and Informatics</option>
						<option value="Engineering">Engineering</option>
						<option value="Health and Applied Sciences">Health and Applied Sciences</option>
						<option value="Natural Resources and Spatial Sciences">Natural Resources and Spatial Sciences</option>
						<option value="Medicine">Medicine</option>
						<option value="Law">Law</option>
					
						
						
					</select>
				</div>
				<div class="form-group">
					<select name="title" id="Field_Of_Study_2" class="form-control" required="">
					<option value="">Select Field Of Study 2</option>
						<option value="Management Sciences">Management Sciences</option>
						<option value="Human Sciences">Human Sciences</option>
						<option value="Computing and Informatics">Computing and Informatics</option>
						<option value="Engineering">Engineering</option>
						<option value="Health and Applied Sciences">Health and Applied Sciences</option>
						<option value="Natural Resources and Spatial Sciences">Natural Resources and Spatial Sciences</option>
						<option value="Medicine">Medicine</option>
						<option value="Law">Law</option>
						
						
					</select>
				</div>
				
									<div class="modal-footer">
										<input type="button" name="qualsubinf" id="" class="btn btn-info" onclick="submita()" value="Submit" />
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</form>


            </div>
                    <div class="ibox-footer">
                                        <span class="float-right" style="color:orange">
                         
                                </span>
                                press  to view information
                                <a class="collapse-link">
                                     <i class="fa fa-chevron-circle-down" style="color:orange"></i>
                                    </a>
                            </div>
                       </div>
				 </div>
            </div>
			
</body>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

		var data = [];
		var subjectnamess = [];
		var levelss = [];
		var symbolss = [];
		var pointsss = [];
		
	 $(document).ready(function(){	
	 
			var subjects = ['Accounting', 'Agriculture', 'Afrikaans First Language', 'Afrikaans Second Language', 'Art and Design', 'Biology', 'Business Studies', 'Computer Studies', 'Design and Technology', 'Development Studies', 'Economics', 'English First Language', 'English Second Language', 'Entrepreneurship', 'French Foreign Language', 'Geography', 'German First Language', 'German Foreign Language', 'History', 'Khoekhoegowab First Language', 'ICT Literacy Foundation Level', 'Life Skills', 'Mathematics', 'Oshikwanyama First Language', 'Oshindonga First Language', 'Otjiherero First Language', 'Office Administration and Keyboard', 'Physical Education', 'Physical Science', 'Rukwangali First Language', 'Rumanyo First Language', 'Silozi First Language', 'Setswana First Language', 'Thimbukushu First Language'];
			var HigherNSSC = ['1', '2', '3', '4','U'];
			var OrdinaryNSSC = ['A*', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'U'];
			var ExtendedNSSC = ['A*', 'A', 'B', 'C', 'D', 'E', 'U'];
			var CoreNSSC = ['C', 'D', 'E', 'F', 'G', 'U'];
			var HigherCambridge = ['1', '2', '3', '4'];
			var OrdinaryCambridge = ['A*', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'U'];
			var points=0;
			
			//var data =array();s
	 
 var subjectname = document.getElementById('subjectname');
                               var Symboles = document.getElementById('symbol');
                               for(var i = 0; i < subjects.length; i++) {
                                   var opt = subjects[i];
                                   var el = document.createElement('option');
                                   el.textContent = opt;
                                   el.value = opt;
                                   subjectname.appendChild(el);
                               }	
                               $('#level').change(function(){
                               if($('#level').val()=='Higher'){
                                   $('#symbol').empty();
                                   $('#symbol').val('');
                                   for(var i = 0; i < HigherNSSC.length; i++) {
                                   var opt = HigherNSSC[i];
                                   var el = document.createElement('option');
                                   el.textContent = opt;
                                   el.value = opt;
                                   Symboles.appendChild(el);
                                   }
                               }
                               else if($('#level').val()=='Ordinary'){
                                   $('#symbol').empty();
                                   $('#symbol').val('');
                                   for(var i = 0; i < OrdinaryNSSC.length; i++) {
                                   var opt = OrdinaryNSSC[i];
                                   var el = document.createElement('option');
                                   el.textContent = opt;
                                   el.value = opt;
                                   Symboles.appendChild(el);
                                   }
                               }else if($('#level').val()=='Core'){
                                   $('#symbol').empty();
                                   $('#symbol').val('');
                                   for(var i = 0; i < CoreNSSC.length; i++) {
                                   var opt = CoreNSSC[i];
                                   var el = document.createElement('option');
                                   el.textContent = opt;
                                   el.value = opt;
                                   Symboles.appendChild(el);
                                   }
                               }else if($('#level').val()=='Extended'){
                                   $('#symbol').empty();
                                   $('#symbol').val('');
                                   for(var i = 0; i < ExtendedNSSC.length; i++) {
                                   var opt = ExtendedNSSC[i];
                                   var el = document.createElement('option');
                                   el.textContent = opt;
                                   el.value = opt;
                                   Symboles.appendChild(el);
                                   }
                               } 
							   
							   
							    $('#subjectname').focus();
                                   var controls = ['#subjectname', '#level', '#symbol'];
                                   for (i = 0; i < controls.length; i++)
                           {
                           console.log('reading ' + controls[i] + '...');
                                   var ctl = $(controls[i]);
                                   ctl.val(ctl.val().trim());
                                   if (ctl.val().length == 0)
                           {
                           alert('Please specify ' + controls[i].split('#')[1]);
                                   ctl.focus();
                                   return false;
                           }

                           }

                           var level = $('#level').val().trim(); ;
                                    symbol = $('#symbol').val().trim();
                                    points = 0;
                                  
                                   });

                                  
						 
  });   
    function sendQualSub(){
	var tbody;
       var subjectname=$('#subjectname').val();
	    var level = $('#level').val(); 
        var symbols = $('#symbol').val();  
		var Totalpoints =0;
		var points = 0; 
		 if (level == 'Higher')
                           {
                           switch (symbols)
                           {
                           case '1':
						    points =10 ;
                                   break;
                                   case '2':
								  points =9;
                                   break;
                                   case '3':
								   points =8;
                                   break;
                                   case '4':
								  points =7;
                                   break;
                                   default:
								     points =0;
                           }
                           } else if (level == 'Ordinary')
                           {
                           switch (symbols)
                           {
                           case 'A*':
                                    points =8;
                                   break;
                                   case 'A':
                                   points =7;
                                   break;
                                   case 'B':
                                  points =6;
                                   break;
                                   case 'C':
                                    points =5;
                                   break;
                                   case 'D':
                                   points =4;
                                   break;
                                   case 'E':
                                    points =3;
                                   break;
                                   case 'F':
                                    points =2;
                                   break;
                                   case 'G':
                                    points =1;
                                   break;
                                   default:
                                   points =0;
                           }
                           } else if (level == 'Extended')
                           {
                           switch (symbol)
                           {
                           case 'A*':
                                   points = 8;
                                   break;
                                   case 'A':
                                   points = 7;
                                   break;
                                   case 'B':
                                   points = 6;
                                   break;
                                   case 'C':
                                   points = 5;
                                   break;
                                   case 'D':
                                   points = 4;
                                   break;
                                   case 'E':
                                   points = 3;
                                   break;
                                   default:
                                   points = 0;
                           }
                           } else
                           {
                           switch (symbol)
                           {
                           case 'C':
                                   points = 5;
                                   break;
                                   case 'D':
                                   points = 4;
                                   break;
                                   case 'E':
                                   points = 3;
                                   break;
                                   case 'F':
                                   points = 2;
                                   break;
                                   case 'G':
                                   points = 1;
                                   break;
                                   default:
                                   points = 0;
                           }
                           }
                           var percentage = 0;
                 
		subjectnamess.push(subjectname);
		levelss.push(level);
		symbolss.push(symbols);
		pointsss.push(points);
		
		 $('#points').val('');
		 $('#Points').val('');
		//tbody="";
		//alert(subjectnamess);
		$('#subjectInfo tbody').empty();
        
	                                  
       for (var i = 0; i < subjectnamess.length; i++) {
					$('#subjectInfo tbody').empty();
				   tbody += "<tr><td>" + subjectnamess[i] + "</td><td>" + levelss[i] + "</td><td>" + symbolss[i] + "</td><td>" + pointsss[i] + "</td></tr>";
				   $("#subjectInfo tbody ").append(tbody);
				}
       
			if (subjectnamess.length==6){
			 $( "#Points" ).append( "<p style=\"color:red\" ><strong>Total points : "+ pointsss.reduce((a, b) => a + b, 0) +"</strong></p>" );   
			  		$('#adding').hide();
			}
  
  
  }
   function check_sub_(){


   }
   function submita(){
         
         var Totalpoints = pointsss.reduce((a, b) => a + b, 0);
          var Field_Of_Study_1=$('#Field_Of_Study_1').val();
	      var Field_Of_Study_2 = $('#Field_Of_Study_2').val(); 
        
          //fname
          var fname = $('#fname').val(); 
          var indexxx;
          var result1;
          var result2;

      if (subjectnamess.length >=  5){
      //  FIELD OF STUDY 1
            if(Field_Of_Study_1 == "Medicine" ){ 
                result1="Medicine is not offered at NUST";
             }  

             if (Field_Of_Study_1 == "Law"){
                result1="Law is not offered at NUST";
                
             }
          
		  
		     if (Field_Of_Study_1 == "Management Sciences"  ){
                    var english1 = subjectnamess.indexOf('English First Language');
					var english2= subjectnamess.indexOf('English Second Language');
				  if (english1 != null ){
				     indexxx=english1;
				  }else{
				      indexxx=english2;
				  }
					var indexx= subjectnamess.indexOf('Mathematics');
					
					if (Totalpoints >= 26 && (subjectnamess.indexOf('English First Language')>-1 || subjectnamess.indexOf('English Second Language')>-1)&&  subjectnamess.indexOf('Mathematics')>-1 && pointsss[indexxx]>=4 && pointsss[indexx]>=3){
                        result1="You have been admitted into Management Sciences";
					}else{
                        result1=" Unfortunately, you have not been admitted into Management Sciences \n Comment: English missing on list of subjects";
					}
			 } 
			 if (Field_Of_Study_1 == "Human Sciences"  ){
			     var english1 = subjectnamess.indexOf('English First Language');
				var english2= subjectnamess.indexOf('English Second Language');
				  if (english1 != null ){
				     indexxx=english1;
				  }else{
				      indexxx=english2;
				  }
				  if (Totalpoints >= 26 && (subjectnamess.indexOf('English First Language')>-1 || subjectnamess.indexOf('English Second Language')>-1)  && pointsss[indexxx]>4 ){
                    result1="You have been admitted into Human Sciences";
					}else{
					    result1=" Unfortunately, you have not been admitted into Human Sciences \n Comment: English missing on list of subjects";
					}
			 } 
			 if(Field_Of_Study_1 == "Computing and Informatics"  ){
			 
			       var indexx= subjectnamess.indexOf('Mathematics');
	             //alert(pointsss[indexx]);
				 
			       if (Totalpoints >= 30 && (subjectnamess.indexOf('Mathematics')>-1 ) && pointsss[indexx]>4){
                    result1="You have been admitted into Computing and Informatics";
					}else{
					result1=" Unfortunately, you have not been admitted into Computing and Informatics \n Comment: Mathematics missing on list of subjects";
					}
					
			 }
			 if(Field_Of_Study_1 == "Engineering"  ){
                var english1 = subjectnamess.indexOf('English First Language');
				var english2= subjectnamess.indexOf('English Second Language');
                var mathematics= subjectnamess.indexOf('Mathematics');

				  if (english1 != null ){
				     indexxx=english1;
				  }else{
				      indexxx=english2;
				  }
                if (Totalpoints >= 37 && (subjectnamess.indexOf('Mathematics')>-1 ) && pointsss[mathematics]>=8 && (english1!=null || english2 !=null) && subjectnamess.indexOf('Physical Science') >-1 && level[mathematics] == "Higher"){
                    result1="You have been admitted into Engineering";
					}else{
                        result1=" Unfortunately, you have not been admitted into Engineering \n Comment: Mathematics missing on list of subjects";
					}
			 }
			 if(Field_Of_Study_1 == "Health and Applied Sciences" ){
                var english1 = subjectnamess.indexOf('English First Language');
				var english2= subjectnamess.indexOf('English Second Language');
                var mathematics= subjectnamess.indexOf('Mathematics');

				  if (english1 != null ){
				     indexxx=english1;
				  }else{
				      indexxx=english2;
				  }
                if (Totalpoints >= 30 && (subjectnamess.indexOf('Mathematics')>-1 ) && pointsss[mathematics]>=8 && (english1!=null || english2 !=null) && subjectnamess.indexOf('Biology')>-1&&subjectnamess.indexOf('Mathematics')>-1 && subjectnamess.indexOf('Physical Science') >-1 && level[mathematics] == "Higher"){
                    result1="You have been admitted into Health and Applied Sciences";
					}else{
					    result1=" Unfortunately, you have not been admitted into Health and Applied Sciences \n Comment: Mathematics missing on list of subjects";
					}
			 }
			 if(Field_Of_Study_1 == "Natural Resources and Spatial Sciences" ){
                        var english1 = subjectnamess.indexOf('English First Language');
                        var english2= subjectnamess.indexOf('English Second Language');
                        var mathematics= subjectnamess.indexOf('Mathematics');

                        if (english1 != null ){
                            indexxx=english1;
                        }else{
                            indexxx=english2;
                        }
                        if (Totalpoints >= 30 && (subjectnamess.indexOf('Mathematics')>-1 ) && pointsss[mathematics]>=8 && (english1!=null || english2 !=null) && subjectnamess.indexOf('Biology')>-1&&subjectnamess.indexOf('Geography')>-1 && subjectnamess.indexOf('Physical Science') >-1 && level[mathematics] == "Higher"){
                            result1="You have been admitted into Health and Applied Sciences";
				
                            }else{
                                result1=" Unfortunately, you have not been admitted into Natural Resources and Spatial Sciences \n Comment: Mathematics missing on list of subjects";
                            }
			 }
         //FIELD OF STUDY 2
         if ( Field_Of_Study_2 == "Medicine"){ 
            result2="Medicine is not offered at NUST";
             }

             if ( Field_Of_Study_2 == "Law"){
                result2="Law is not offered at NUST";
             }
          
		  
		     if ( Field_Of_Study_2 == "Management Sciences"){
                    var english1 = subjectnamess.indexOf('English First Language');
					var english2= subjectnamess.indexOf('English Second Language');
				  if (english1 != null ){
				     indexxx=english1;
				  }else{
				      indexxx=english2;
				  }
					var indexx= subjectnamess.indexOf('Mathematics');
					alert(pointsss[indexxx]);
					alert(pointsss[indexx]);
					if (Totalpoints >= 26 && (subjectnamess.indexOf('English First Language')>-1 || subjectnamess.indexOf('English Second Language')>-1)&&  subjectnamess.indexOf('Mathematics')>-1 && pointsss[indexxx]>=4 && pointsss[indexx]>=3){
                        result2="You have been admitted into Management Sciences";
					}else{
                        result2=" Unfortunately, you have not been admitted into Management Sciences \n Comment: English missing on list of subjects";
					}
			 } 
			 if ( Field_Of_Study_2 == "Human Sciences"){
			     var english1 = subjectnamess.indexOf('English First Language');
				var english2= subjectnamess.indexOf('English Second Language');
				  if (english1 != null ){
				     indexxx=english1;
				  }else{
				      indexxx=english2;
				  }
				  if (Totalpoints >= 26 && (subjectnamess.indexOf('English First Language')>-1 || subjectnamess.indexOf('English Second Language')>-1)  && pointsss[indexxx]>4 ){
                    result2="You have been admitted into Human Sciences";
					}else{
					    result2=" Unfortunately, you have not been admitted into Human Sciences \n Comment: English missing on list of subjects";
					}
			 } 
			 if( Field_Of_Study_2 == "Computing and Informatics"){
			 
			       var indexx= subjectnamess.indexOf('Mathematics');
	             //alert(pointsss[indexx]);
				 
			       if (Totalpoints >= 30 && (subjectnamess.indexOf('Mathematics')>-1 ) && pointsss[indexx]>4){
                    result2="You have been admitted into Computing and Informatics";
					}else{
					result2=" Unfortunately, you have not been admitted into Computing and Informatics \n Comment: Mathematics missing on list of subjects";
					}
					
			 }
			 if( Field_Of_Study_2 == "Engineering"){
                var english1 = subjectnamess.indexOf('English First Language');
				var english2= subjectnamess.indexOf('English Second Language');
                var mathematics= subjectnamess.indexOf('Mathematics');

				  if (english1 != null ){
				     indexxx=english1;
				  }else{
				      indexxx=english2;
				  }
                if (Totalpoints >= 37 && (subjectnamess.indexOf('Mathematics')>-1 ) && pointsss[mathematics]>=8 && (english1!=null || english2 !=null) && subjectnamess.indexOf('Physical Science') >-1 && level[mathematics] == "Higher"){
                    result2="You have been admitted into Engineering";
					}else{
                        result2=" Unfortunately, you have not been admitted into Engineering \n Comment: Mathematics missing on list of subjects";
					}
			 }
			 if( Field_Of_Study_2 == "Health and Applied Sciences"){
                var english1 = subjectnamess.indexOf('English First Language');
				var english2= subjectnamess.indexOf('English Second Language');
                var mathematics= subjectnamess.indexOf('Mathematics');

				  if (english1 != null ){
				     indexxx=english1;
				  }else{
				      indexxx=english2;
				  }
                if (Totalpoints >= 30 && (subjectnamess.indexOf('Mathematics')>-1 ) && pointsss[mathematics]>=8 && (english1!=null || english2 !=null) && subjectnamess.indexOf('Biology')>-1&&subjectnamess.indexOf('Mathematics')>-1 && subjectnamess.indexOf('Physical Science') >-1 && level[mathematics] == "Higher"){
                    result2="You have been admitted into Health and Applied Sciences";
					}else{
					    result2=" Unfortunately, you have not been admitted into Health and Applied Sciences \n Comment: Mathematics missing on list of subjects";
					}
			 }
			 if( Field_Of_Study_2 == "Natural Resources and Spatial Sciences"){
                        var english1 = subjectnamess.indexOf('English First Language');
                        var english2= subjectnamess.indexOf('English Second Language');
                        var mathematics= subjectnamess.indexOf('Mathematics');

                        if (english1 != null ){
                            indexxx=english1;
                        }else{
                            indexxx=english2;
                        }
                        if (Totalpoints >= 30 && (subjectnamess.indexOf('Mathematics')>-1 ) && pointsss[mathematics]>=8 && (english1!=null || english2 !=null) && subjectnamess.indexOf('Biology')>-1&&subjectnamess.indexOf('Geography')>-1 && subjectnamess.indexOf('Physical Science') >-1 && level[mathematics] == "Higher"){
                            result2="You have been admitted into Health and Applied Sciences";
				
                            }else{
                                result2=" Unfortunately, you have not been admitted into Natural Resources and Spatial Sciences \n Comment: Mathematics missing on list of subjects";
                            }
			 }
             swal({
                   title: "Results!",
                     text: "Dear " + fname + " ,you have " + Totalpoints +" points in five subjects " + " Congratulations! you are eligible for tertiary studies in Namibia. \n "+ "Field Of Study 1" + " "+ result1 +"\n" + "Field Of Study 2" + " "+ result2,
                     icon: "success",
                     customClass: 'swal-wide',
                });
      }else{
        swal({
                   title: "Warning!",
                     text: "Please enter at least 5 subjects ",
                     icon: "warning",
                
                });
      }
         
            // alert(Field_Of_Study_1);
            // alert(Field_Of_Study_2);
            // alert(result1);
            // alert(result2);
           
            
            
   }
</script>
              <!-- eeeease -->       
<!--  QUALIFICATION SUBJECT ENDS HERE  -->